@import "tailwindcss";

.navbar {
    display: flex;
    align-items: center;     /* vertical center */
    border-bottom: 1px solid black;
    justify-content: space-between;
}

.navbar > ul {
    padding-right: 90px;
    display: flex;
    font-size: 17px;
    margin: 0;
}

.navbar > ul > li {
    padding: 15px;
    list-style-type: none;
    cursor: pointer;
}


.logo {
    height: 70px;
    width: 70px;
    border-radius: 50%;
    object-fit: cover;    
}

.productCard {
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    margin: 10;
    
}

.product {
    border: 1px solid #ddd; 
    width: 210px;
    object-fit: contain;
    display: block;
    text-align: center;
    margin: 10px;
    margin-left: 24;
    padding: 10px;
    border-radius: 8px; 
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.product:hover {
    transform: translateY(-3px);
    /* box-shadow: 0 8px 14px rgba(0,0,0,0.15); */
}


.product > .product-img {
    width: 200;
    height: 200;
}
 .product > .name {
    font-size: 19px;
 }
 .product > .ram {
    font-size: 14px;
 }
 .product > .price {
    font-size: 16px;
 }
 /* .product > .buy { */
 .buy{
    border-radius: 8px;
    background-color: #e63946;
    color: white;
    border: none;
    font-size: 13px;
    padding: 5px 14px;
    padding-bottom: 8px;
    margin-top: 5;
    cursor: pointer;
    transition: all 0.3s ease;
}

.product > .buy:hover {
    background-color: #d62828;
}
.flagship{
  margin-top: 15px;
  margin-left: 25px;
  padding: 8px 16px;
  height: 42px;

  border-radius: 6px;
  border: none;
  background-color: #e63946;
  color: white;
  font-size: 14px;
  cursor: pointer;

}

.btnName{
    margin-left: 20;
    margin-right: -50;
    border-radius: 8px;
    background-color: #e63946;
    color: white;
    border: none;
    font-size: 13px;
    padding: 0px 14px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.skeleton-container {
    display: flex;
    flex-wrap: wrap;
}
.skeleton {
    width: 215px;
    height: 380px;
    display: flex;
    background-color: #f0f0f0;
    margin-top: 83px;
    margin-left: 30px;
    border-radius: 8px;
}
.menu-bar {
    display: flex;
}
.search-bar {
  display: flex;
  margin-left: auto;
  margin-right: 15px;
  margin-top: 15px;
  width: 320px;
  height: 42px;
  gap: 6px;
}

.search-bar input {
  flex: 1;
  padding: 8px 12px;
  font-size: 15px;
  border-radius: 6px;
  border: 1px solid #ccc;
  outline: none;
}


.search-bar button {
  padding: 0 14px;
  border-radius: 6px;
  border: none;
  background-color: #e63946;
  color: white;
  font-size: 14px;
  cursor: pointer;
}

.single-product {
  width: 90%;
  max-width: 1100px;
  margin: 40px auto;
  padding: 30px;
  box-shadow: 2px 2px 10px gray;

  display: flex;
  gap: 50px;
}

.product-img {
  width: 420px;
  height: 420px;
}

.single-product h1 {
  font-size: 30px;
}

.single-product h2 {
  font-size: 24px;
}

.single-product p {
  font-size: 17px;
  margin: 6px 0;
}

.buy-btn {
  margin-top: 15px;
  padding: 12px 22px;
  background-color: red;
  color: white;
  border: none;
  font-size: 18px;
  cursor: pointer;
}

.product-link {
  text-decoration: none;
  color: inherit;
}

